

<div class="contextual">
  <% if @query.present? && !@query.new_record? && @query.editable_by?(User.current) %>
      <%= link_to l(:button_edit), edit_query_path(@query), :class => 'icon icon-edit' %>
      <%= delete_link query_path(@query) %>
  <% end %>
</div>
<% if params[:page_type].present? %>
    <% s_id = 'sla_report_form' %>
    <% test = params[:page_type]==1 ? 'sla_report_form' : '' %>
<% else %>
    <% s_id = '' %>
<%end%>
<% s_id = params[:page_type].present? ? '' : 'sla_report_form' %>
<%test = (params[:page_type].present? && params[:page_type]==1) ? 'sla_report_form1' : '' %>

<h2>SLA</h2>
<%= form_tag({ :controller => 'sla_reports', :action => 'index', :project_id => @project },
             :method => :get, :id => 'query_form') do %>
    <div>

      <table id="sla_filter"><tr><th>Report For</th><td>
        <%= select_tag "page_type", options_for_select( [['Resolution SLA', 2],['Response SLA', 1]], :selected=>params[:page_type]), {:class =>"select_combobox",:prompt => "--Select type of report--"} %>
      </td></tr></table>
    </div>


    <%= hidden_field_tag 'project_id', @project.id %>

    <div id ="user_list_sla" class="<%= s_id %>" data-user-id="<%= params[:user_id].present? ? params[:user_id] : 0 %>" >
      <p class="<%= s_id %>" ><%= label_tag 'User'%>
        <%= select_tag 'user_id', content_tag(:option, "All User",:value => '0')+options_from_collection_for_select(team_members(@project),'user_id', 'name',@user.nil? ? (params[:user_id].nil? ? User.current.id : params[:user_id]) : check_user)%>
        <%#=h select_tag('user_id',
                        options_for_select( [["All Users","0"]] + (@members.blank? ? [] : @members),
                                            :selected =>  @user.nil? ? (params[:user_id].nil? ? User.current.id : params[:user_id]) : check_user)) %>
      </p>
    </div>
    <div id="query_form_with_buttons" class="hide-when-print sla_query" >
      <fieldset id="date-range" class="collapsible <%=s_id%>">
        <legend onclick="toggleFieldset(this);"><%= l(:label_date_range) %></legend>
        <div class = "<%=s_id%>"  >

          <p>
            <%= radio_button_tag 'period_type', '1', !@free_period, :checked=>(params['period_type'].present? && params['period_type']=='1') ,:onclick => '$("#from,#to").attr("disabled", true);$("#period").removeAttr("disabled");' %>
            <%= select_tag 'period', options_for_period_select(params[:period]),
                           :onfocus => '$("period_type_1").checked = true;',
                           :disabled => @free_period %>
          </p>
          <%# if (!check_bio_permission_list_user_id_project_id('l2',User.current.id,[params[:project_id].to_i]) || !check_bio_permission_list_user_id_project_id('l2',User.current.id,[params[:project_id].to_i]))  %>
          <p>
            <%= radio_button_tag 'period_type', '2', @free_period,:checked=>(params['period_type'].present? && params['period_type']=='2'), :onclick => '$("#from,#to").removeAttr("disabled");$("#period").attr("disabled", true);' %>
            <span onclick="$('period_type_2').checked = true;">
<%= l(:label_date_from_to, :start => (text_field_tag('from', @fr, :size => 10, :disabled => !@free_period) + calendar_for('from')),
      :end => (text_field_tag('to', @t, :size => 10, :disabled => !@free_period) + calendar_for('to'))).html_safe %>
</span>
          </p>
        </div>
      </fieldset>
      <p class="buttons">
        <%= link_to_function l(:button_apply), '$("#query_form").submit(); return false;', :class => 'icon icon-checked' %>
        <%#= link_to l(:button_apply), {:controller => controller_name, :action => action_name, :project_id => @project, :issue_id => @issue}, :class => 'icon icon-checked' %>
        <%= link_to l(:button_clear), {:controller => controller_name, :action => action_name, :project_id => @project, :issue_id => @issue,:tab => controller_name}, :class => 'icon icon-reload' %>
      </p>

    </div>
<% end %>

<%= error_messages_for 'query' %>
<div  class = "<%=s_id%>" >
  <% if @query.present? && @query.valid? && params[:page_type].present?%>

      <%# if @issues.empty? %>
          <!--<p class="nodata"><%= l(:label_no_data) %></p>-->
      <%# else %>
      <h2> SLA Status </h2>
          <div>
            <table id="sla_report_tbl" class="report_tble">
              <tr>
                <th>Ticket Priority</th>
                <th>No Of Ticket Resolved</th>
                <th>No Of Ticket Met SLA</th>
                <th>No Of Ticket Not Met SLA</th>
                <th>SLA Percentage</th>
              </tr>
              
              <%if params[:period_type].present?%>
                  <%
                    project = Project.find_by_identifier(params[:project_id])
                    dgo_sla = project.enabled_modules.map(&:name).include?('actual_sla')
                    p '=========status_cond'
                    dgo_sla ? status_cond = ["5"] : status_cond = ["3","5"]
                   

                     data = {:page_type => params[:page_type] , :project_id =>params[:project_id], :period_type =>params[:period_type], :user_id => params[:user_id],"set_filter"=>"1", "f"=>["status_id", ""], "op"=>{"status_id"=>"="}, "v"=>{"status_id"=>status_cond}, "c"=>["subject", "author", "assigned_to", "status", "request_category", "remarks", "request_status"], "group_by"=>"", "project_id"=>"itops"}
                    
                     if params[:period_type]=='1'
                       data.merge!(:period => params[:period])
                     else
                       data.merge!(:from =>params[:from], :to=>params[:to])
                     end
                  %>
              <%else%>
                  <% data = {} %>
              <%end%>

              <% @sla_issues.each_with_index do |sla, i|%>
                  <tr>
                    <td><%= sla.keys[0] %></td>
                    <td class='popupWind'>
                      <%#= link_to sla.values[0], project_issues_path(@project,:issue_ids =>  sla.values[1]), :method=> :get, :target => "_blank" %>
                      <%if sla.values[0] > 0%>
                          <%= link_to sla.values[0], project_issues_path(@project, data.merge!(:status => '0', :priority =>sla.keys[0], :pos => i) ), :method=> :get, :target => "_blank" %>
                      <%else%>
                          <%=  sla.values[0] %>
                      <%end%>
                    </td>
                    <td class='popupWind'>
                      <%if sla.values[1].count > 0%>
                          <%= link_to sla.values[1].count, project_issues_path(@project, data.merge!(:status => '1', :priority =>sla.keys[0], :pos => i) ), :method=> :get, :target => "_blank" %>
                      <%else%>
                          <%=  sla.values[1].count %>
                      <%end%>
                    </td>
                    <td class='popupWind'>
                      <%if sla.values[2].count > 0%>
                          <%= link_to sla.values[2].count, project_issues_path(@project, data.merge!(:status => '2', :priority =>sla.keys[0], :pos => i) ), :method=> :get, :target => "_blank" %>
                      <%else%>
                          <%=  sla.values[2].count %>
                      <%end%>
                    </td>
                    <td><%= sla.values[3].round(2)%> %</td>
                  </tr>
              <% end if @sla_issues.present? %>

          <tr style="font-weight: bold;background-color: rgba(114, 125, 68, 0.13);">
            <td>Total</td>
            <% @sla_avg.flatten.each_with_index do |x,i|%>
              <td>
                
                <%if @sla_avg.flatten.count == i+1 %>
                  <%= @sla_avg.flatten[i] %> %
                <% else%>  
                  <%= @sla_avg.flatten[i] %> 
                <% end %>
              </td>
            <% end if @sla_avg.present? %>
          </tr>
          
            </table>
          </div>
      <%# end %>
      <br><br>

      <% if @status_issues.present? %>
      <h2> Ticket Status <!-- <span style="font-size: 13px; font-weight: normal">(Date range)</span> --> </h2>
      <% total_active_ticket_count = []%>
      <div>
        <table class="report_tble">
          <tr>
            <th>Ticket Priority</th>
            <th>Total Tickets </th>
            <th>Active Tickets </th>
            <%  @test={} %>
            <% @status_issues.first.values.first.keys.each do |key| %>
                <th><%= key %></th>
            <% end if @status_issues.present? %>
          </tr>

          <% @status_issues.compact.each_with_index do |priority, i| %>
              <% @test.merge!(priority.values[0]){ |k, o, n| o + n } %>
              <tr>
                <td>
                  <%=  priority.keys.first %>
                  <% priority_id=IssuePriority.find_by_name(priority.keys.first).id %>
                </td>
                <td><%=  @priority_issues[i] %></td>
                <td class='popupWind'>
                <% if @active_status_issues.compact[i] > 0 %>
                <%= link_to @active_status_issues.compact[i],project_issues_path(@project,update_query_param([priority_id], @active_status_id,@project.identifier))%>
                <% else %>
                  <%= @active_status_issues.compact[i] %>
                <% end %>
                <% total_active_ticket_count << @active_status_issues.compact[i] %>
                </td>
                <% priority.values[0].each do |state|%>
                    <%# raise state[0].inspect %>
                    <td class='popupWind'>
                      <% if state[1] > 0%>
                          <% status_id = IssueStatus.find_by_name(state[0]).id %>
                          <%= link_to state[1],project_issues_path(@project, update_query_param([priority_id], [status_id], @project.identifier)) %>
                      <% else %>
                          <%= state[1] %>
                      <% end %>
                    </td>
                <% end %>
              </tr>
          <% end if @status_issues.present? %>

          <tr style="font-weight: bold;background-color: rgba(114, 125, 68, 0.13);">
            <td>Total</td>
            <td><%= @priority_issues.sum if @priority_issues.present? %></td>
            <% priorities = IssuePriority.active.all.map(&:id) %>
            <td class='popupWind'>
              <% if total_active_ticket_count.sum > 0 %>
                <%= link_to total_active_ticket_count.sum,project_issues_path(@project,update_query_param(priorities, @active_status_id,@project.identifier)) %>
              <% else %>
                <%= total_active_ticket_count.sum %>
              <% end %> 
            </td>
            <%  @test.each do |total|%>
                <td><%= total[1]%></td>
            <% end if @test %>
          </tr>
        </table>
      </div>
    <% end %>
  <% end %>
</div>

    
        
   